@import '../../scss/partials/varibales';

.filtermodalfade{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $modal-fade-color;
  opacity: 0.7;
  z-index: 99;
}
.filtermodal{
  position: fixed;
  top: 0;
  right: 0;
  width: 500px;
  height: 100vh;
  background-color: $white-color;
  z-index: 999;
  box-sizing: border-box;
  .closebtn{
    position: absolute;
    top: 25px;
    left: -20px;
    width: 36px;
    height: 36px;
    line-height: 40px;
    text-align: center;
    border-radius: 50px;
    background-color: $closebtn-color;
    cursor: pointer;
  }
  .filter-body-wrap{
    padding: 30px 25px 0 25px;
    h3{
      margin: 0;
      margin-bottom: 15px;
      font-size: 20px;
      font-weight: bold;
      color: $common-text-color;
    }
    h4{
      margin: 0;
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: 400;
      color: $common-text-color;
    }
    .checkbox-main-wrap{
      margin-bottom: 10px;
    }
  }
}

.btn-wrap{
  position: absolute;
  bottom: 0;
  width: 100%;
  .btn{
    display: block;
    float: left;
    width: 50%;
    height: 55px;
    color: $common-text-color;
    font-size: 16px;
    font-weight: 400;
    background-color: $clear-btn-color;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    &:hover{
      background-color: $clear-btn-hover-color;
    }
  }
  .btn-apply{
    color: $white-color;
    font-size: 14px;
    font-weight: 400;
    background-color: $filter-btn-color;
    &:hover{
      background-color: $blue-btn-hover;
    }
  }
}

.clearfix{
  &:after{
    display: block;
    content: "";
    clear: both;
  }
}