@import '../../scss/partials/varibales';

.colorcircle{
  float: left;
  margin: 0 6px;
  margin-top: 2px;
  width: 16px;
  height: 16px;
  background-color: #FE9898;;
  border: 1px solid #FE9898;
  border-radius: 50px;
}